 {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} title {% endcomment %}
    <title>{%block title %}  {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
    {% comment %}Script  {% endcomment %}
    {% block script%} {% endblock script%}
</head>
<body>
    <div> 
        <div class="navbar">
            {% if user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" style="background: none; border: none; color: blue; cursor: pointer; text-decoration: underline; padding: 0;">
                  Logout
                </button>
              </form>
            {% else %}
              <a href="{% url 'login' %}">Login</a>
              <a href="{% url 'signup' %}">Sign Up</a>
            {% endif %}
          </div>

        {% block content%} 
       
        {% endblock %}
    </div>

<footer>@2025 </footer>
</body>
</html>